@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
    --accent-color: #FDBA26;
}

.accent {
    color: var(--accent-color)
}


body {
    margin: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-weight: 700;
    font-size: 3rem;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*loader*/

.loader {
    border: 3px solid #f7f7f7;
    border-top: 3px solid var(--accent-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    display: inline-block;
    color: var(--accent-color);
    text-align: center;
    border: 2px var(--accent-color) solid;
}

.btn:hover {
    color: #fff;
    background-color: var(--accent-color);
}

.container {
    margin-bottom: 2rem;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-message {
    margin-top: 1rem;
}

.statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.statement a {
    text-decoration: none;
}

.help {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
}

.navigation-icon {
    max-height: 2rem;
    margin-left: 1rem;
}
